// Styling for the skills section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

img {
  height: 128px;
  widows: 128px;
}


// @media screen and (min-width:768px) and ( max-width:1024px) {
//   /*　画面サイズが768pxから1024pxまではここを読み込む　*/
// p {}
// }
// @media screen and (min-width:1024px) {
//   /*　画面サイズが1024pxからはここを読み込む　*/

// }